<?xml version="1.0" encoding="UTF-8" ?>
<theme>
    <formatVersion>7</formatVersion>

    <view name="menu">
        <menuText name="menutitle">
            <!-- <fontPath>./art/fonts/ubuntu_bold.ttf</fontPath> -->
            <fontSize>0.044</fontSize>
            <color>969696</color>
        </menuText>

        <menuText name="menufooter">
            <!-- <fontPath>./art/fonts/ubuntu_medium.ttf</fontPath> -->
            <fontSize>0.02</fontSize>
            <color>969696</color>
        </menuText>

        <menuText name="menutext">
            <!-- <fontPath>./art/fonts/ubuntu_medium.ttf</fontPath> -->
            <fontSize>0.035</fontSize>
            <color>969696</color>
            <separatorColor>363636FF</separatorColor>
            <selectorColor>CCCCCC</selectorColor>
            <selectorColorEnd>CCCCCC</selectorColorEnd>
            <selectedColor>262626</selectedColor>
        </menuText>

        <menuTextSmall name="menutextsmall">
             <forceUppercase>1</forceUppercase>
			<fontPath>./art/fonts/TitilliumWeb-SemiBold.ttf</fontPath>
            <fontSize>0.025</fontSize>
            <color>cccccc</color>
        </menuTextSmall>

        <menuBackground name="menubg">
            <color>343434dd</color>
            <cornerSize>42 42</cornerSize>
            <path>./art/assets/frame.png</path>
        </menuBackground>

    </view>
</theme>
